.bg{
    
  }
  body{
    margin: 0%;
    background-color: #000;
    margin:0px;
    width: 100%;
    padding:100% 0 0 0;
    background-image: url("../img/Untitled-1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }